.code{
    font-family: 'Source Code Pro', monospace;
}
li {
    margin: 3% ;
}


.wrong{
    background-color: rgb(255, 123, 83);
}

.right{
    background-color: rgb(10, 206, 10);
}

.hide{
    display: none;
}
.show{
    display: block;
}

@media(max-width:450px){
    .display-3{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.8rem;
    }
    span{
        font-size: 0.7rem;
    }
    li{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
}







